*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'text';
}
@font-face {
    font-family: 'title';
    src: url('./img/Celestia\ Antiqua\ SC.otf');
}
@font-face {
    font-family: 'text';
    src: url('./img/AveriaSerifGWF-Regular.ttf');
}

body{
    background-image: url('./img/dd-wallpaper3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}

/* NAV BAR */

.nav-bar{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border: none;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 20px 0px;
    z-index: 10;
    letter-spacing: 3px;
    font-size: large;
}

.nav-bar button{
    background-color: rgba(161, 161, 161, 0);
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.597);
    font-size: larger;
    margin-left: 20px;
    padding-left: 20px;
    transition: color 0.5s;
}
.nav-bar button:hover{
    color: rgba(32, 237, 172, 0.748);
}

/* MAIN RACES */

.full-layout2{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 170px;
    padding-top: 50px;
    margin-top: 28px;
}

#full-layout{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 350px;
    padding-top: 50px;
    margin-top: 28px;
}


.sidebar-races-layout{
    position: fixed;
    top: 70px;
    bottom: 0px;
    left: 0px;
    width: 140px;
    background-color: rgb(0, 0, 0);
    padding: 0px 10px 0px 10px;
    box-shadow: 5px 1px 20px 0px;
}

.sidebar-races{
    display: flex;
    flex-direction: column;
}

.sidebar-races h2{
    text-align: center; 
    margin: 5px 0px 5px 0px; 
    color: rgba(32, 237, 172, 0.748); 
    font-weight: 300;
    letter-spacing: 2px;
}

.sidebar-races p{
    color: rgba(255, 255, 255, 0.597);
    letter-spacing: 1px;
    padding: 1px;
    cursor: pointer;
    transition: color 0.2s;
    text-align: center;
    font-size: large;
}

.sidebar-races p:hover{
    color: rgba(32, 237, 172, 0.748);
}

.sidebar-classes{
    display: flex;
    flex-direction: column;
}

.sidebar-classes h2{
    text-align: center; 
    color: rgba(32, 237, 172, 0.748); 
    margin: 8px 0px 8px 0px; 
    font-weight: 300;
    letter-spacing: 2px;
}

.sidebar-classes p{
    color: rgba(255, 255, 255, 0.597);
    letter-spacing: 1px;
    padding: 1px;
    cursor: pointer;
    transition: color 0.2s;
    text-align: center;
}

.sidebar-classes p:hover{
    color: rgba(32, 237, 172, 0.748);
}



/* RACE CONTAINERS */

@keyframes Aparecer {
    0%{
        filter: opacity(0%);
    }
    100%{
        filter: opacity(100%);
    }
}

.races-menu-layout{
    background-color: rgb(0 0 0);
    position: fixed;
    top: 70px;
    bottom: 0px;
    left: 135px;
    width: 140px;
    padding: 10px 20px 10px 20px;
    display: flex;
    z-index: 100;
    animation: Aparecer 0.5s;
    box-shadow: 3px 1px 20px 2px;
}

.races-menu{
    display: flex;
    align-items: center;
    border: none;
    margin: 20px 0px 0px 0px;
    flex-direction: column;
    justify-content: flex-start;
}

.races-menu-tiefling{
    display: flex;
    align-items: center;
    border: none;
    flex-direction: column;
    justify-content: flex-start;
}

.races-menu p{
    color: rgba(255, 255, 255, 0.597);
    letter-spacing: 1px;
    padding: 1px;
    cursor: pointer;
    transition: color 0.2s, box-shadow 0.2s;
    text-align: center;
    font-size: small;
    margin: 10px 0px 10px 0px;
}

.races-menu-tiefling p{
    color: rgba(255, 255, 255, 0.597);
    letter-spacing: 1px;
    padding: 1px;
    cursor: pointer;
    transition: color 0.2s, box-shadow 0.2s;
    text-align: center;
    font-size: small;
    margin: 4px 0px 4px 0px;
}

.races-menu p:hover{
    color: rgba(32, 237, 172, 0.748);
}

.races-menu-tiefling p:hover{
    color: rgba(32, 237, 172, 0.748);
}

.races-container{
    display: flex;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 10px 0px 0px;
    background-color: rgba(0, 0, 0, 0.644);
    animation: Aparecer 0.5s;
}

.races-container p{
    margin: 5px 0px 5px 0px;
}

.race-detail-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
    color: white;
}

.race-detail-container button{
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    background-color: black;
    color: rgba(255, 255, 255, 0.597);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
}
.race-detail-container button:hover{
    background-color: black;
    color: rgba(32, 237, 172, 0.748);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.256);
}

.race-detail-container h1{
    color: rgba(32, 237, 172, 0.748);
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-family: 'title';
}

.race-detail-container p{
    margin-bottom: 10px;
    font-family: 'text';
    font-size: large;
}
.race-detail-container a {
    color: rgba(32, 237, 172, 0.748);
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-family: 'text';
    font-style: italic;
    cursor: pointer;

}

.race-detail-container b{
    font-family: 'title';
    font-size: larger;
    letter-spacing: 2px;
    font-weight: 500;
}

.race-detail-container a:hover{
    box-shadow: 1px -2px 20px 5px rgb(249 249 249 / 11%);
    background-color: rgb(249 249 249 / 11%);
}

.menu1-layout{
    /* position: fixed;
    top: 70px;
    bottom: 0px;
    left: 170px;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 0px 10px 0px 10px;
    box-shadow: 3px 1px 20px 11px; */
}

.menu1{
    display: flex;
    flex-direction: column; 
    margin: 0px 50px 0px 50px;
    width: 200px;
}

.menu1 button{
    padding: 5px 20px 5px 20px;
    color: rgba(255, 255, 255, 0.597);
    letter-spacing: 1px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.607);
    margin-top: 10px;
}

.hide-div{
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu1 button:hover{
    background-color: black;
    color: rgba(32, 237, 172, 0.748);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.157);
}


.importantDetail{
    color: rgba(32, 237, 172, 0.748);
    font-weight: 100;
    letter-spacing: 2px;
}

.raceImg{
    width: 200px;
    margin-top: 80px;
}

/* TABLAS */

.tabledragonborn{
    border: 2px solid black;
    width: 500px;
}

.tabledragonborn tr{
    color: rgba(255, 255, 255, 0.748); 
    text-align: center;
}

.tabledragonborn td{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 250px;
}

.tabledragonborn th{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 250px;
}

.tableSpellsOfTheMark{
    border: 2px solid black;
    width: 700px;
}
.tableSpellsOfTheMark tr{
    color: rgba(255, 255, 255, 0.748); 
    text-align: center;
}
.td-level{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 200px;
}
.td-spell{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 500px;
}
.td-spell a{
    color: rgba(32, 237, 172, 0.748);
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-style: italic;
}
.td-spell a:hover{
    box-shadow: 1px -2px 20px 5px rgb(249 249 249 / 11%);
    background-color: rgb(249 249 249 / 11%);
}
.th-level{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 200px;
}
.th-spell{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 500px;
}

.tableSubclasses2024{
    border: 2px solid black;
    width: 800px;
}
.tableSubclasses2024 tr{
    color: rgba(255, 255, 255, 0.748); 
    text-align: center;
}
.th-subclass{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 250px;
}
.th-info{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 550px;
}
.td-info{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 500px;
}
.td-info a{
    color: rgba(32, 237, 172, 0.748);
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-style: italic;
}
.td-info a:hover{
    box-shadow: 1px -2px 20px 5px rgb(249 249 249 / 11%);
    background-color: rgb(249 249 249 / 11%);
}
.td-subclass{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 200px;
}

.tableClass{
    border: 2px solid black;
    width: 830px;
}
.tableClass th{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
}
.tableClass td{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    text-align: center;
}
.tableClass a{
    color: rgba(32, 237, 172, 0.748);
    text-decoration: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    font-style: italic;
}
.tableClass a:hover{
    box-shadow: 1px -2px 20px 5px rgb(249 249 249 / 11%);
    background-color: rgb(249 249 249 / 11%);
}

