*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: Montserrat;
}


body{
    background-image: url('./img/dd-wallpaper3.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
}

/* NAV BAR */

.nav-bar{
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border: none;
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 1px 20px 11px;
    z-index: 10;
}

.nav-bar button{
    background-color: rgba(161, 161, 161, 0);
    border: none;
    cursor: pointer;
    color: rgba(32, 237, 172, 0.748);
    font-style: italic;
    font-size: larger;
    margin-left: 20px;
    padding-left: 20px;
    transition: color 0.2s;
}
.nav-bar button:hover{
    color: rgb(255, 255, 255);
}

/* MAIN RACES */

.full-layout{
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 200px;
    padding-top: 75px;
    margin-top: 28px;
}

.sidebar-races-layout{
    position: fixed;
    top: 70px;
    bottom: 0px;
    left: 20px;
    width: 140px;
    margin-top: 10px;
}

.sidebar-races{
    display: flex;
    flex-direction: column;
}

.sidebar-classes{
    display: flex;
    flex-direction: column;
}

.sidebar-classes button{
    background-color: rgba(0, 0, 0, 0.607);
    color: rgba(255, 255, 255, 0.597);
    letter-spacing: 1px;
    border-radius: 10px;
    /* font-weight: bold; */
    padding: 1px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.sidebar-classes button:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.256);
}

.sidebar-races button{
    background-color: rgba(0, 0, 0, 0.607);
    color: rgba(255, 255, 255, 0.597);
    letter-spacing: 1px;
    border-radius: 10px;
    /* font-weight: bold; */
    padding: 1px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.sidebar-races button:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.157);
}

/* RACE CONTAINERS */

.races-container{
    display: grid;
    grid-template-columns: 1fr 250px;
    border: 1px solid black;
    margin: 0px 50px 0px 0px;
    background-color: rgba(0, 0, 0, 0.812);
}

.races-container p{
    margin: 5px 0px 5px 0px;
}

.race-detail-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px 10px 20px;
    color: white;
}

.race-detail-container button{
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    background-color: black;
    color: rgba(32, 237, 172, 0.748);
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 20px;
}
.race-detail-container button:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.256);
}

.race-detail-container h1{
    color: rgba(32, 237, 172, 0.748);
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.race-detail-container p{
    margin-bottom: 10px;
}

.menu1{
    display: flex;
    flex-direction: column;
    margin: 0px 50px 0px 50px;
}

.menu1 button{
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.765);
    color: rgba(32, 237, 172, 0.748);
    letter-spacing: 1px;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    border-radius: 10px;
    cursor: pointer;
}

.hide-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}

.menu1 button:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.256);
}


.importantDetail{
    color: rgba(32, 237, 172, 0.748);
    font-weight: 100;
    letter-spacing: 2px;
    font-weight: bold;
}

.raceImg{
    width: 200px;
    margin-top: 80px;
}

/* TABLAS */

.tabledragonborn{
    border: 2px solid black;
    width: 500px;
}

.tabledragonborn tr{
    color: rgba(255, 255, 255, 0.748); 
    text-align: center;
}

.tabledragonborn td{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 250px;
}

.tabledragonborn th{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 250px;
}

.tableSpellsOfTheMark{
    border: 2px solid black;
    width: 700px;
}
.tableSpellsOfTheMark tr{
    color: rgba(255, 255, 255, 0.748); 
    text-align: center;
}
.td-level{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 200px;
}
.td-spell{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 500px;
}
.td-spell a{
    color: rgba(32, 237, 172, 0.748);
    text-decoration: none;
}
.th-level{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 200px;
}
.th-spell{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 500px;
}

.tableSubclasses2024{
    border: 2px solid black;
    width: 800px;
}
.tableSubclasses2024 tr{
    color: rgba(255, 255, 255, 0.748); 
    text-align: center;
}
.th-subclass{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 250px;
}
.th-info{
    border: 1px solid rgba(255, 255, 255, 0.219);
    color: rgba(32, 237, 172, 0.748);
    padding: 7px 0px 7px 0px;
    width: 550px;
}
.td-info{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 500px;
}
.td-info a{
    color: rgba(32, 237, 172, 0.748);
    text-decoration: none;
}
.td-subclass{
    border: 1px solid rgba(255, 255, 255, 0.226);
    padding: 7px 0px 7px 0px;
    width: 200px;
}